h1{
    font-size: 30px;
}
#text-2{
    color: green;
    font-style: italic;
}

.text-1-3-5{
color: red;
text-transform: uppercase;


}


table{
    border: 10px solid green;
    width: 500px;
    border-bottom: 1px solid gray;
    border-collapse: collapse;

}

#Tieu-de{
    background-color: blue;
    color: white;
    font-weight: 900;
    text-align: center;
    
}

.DuLieu-2-4{
    background-color: gray;
}

#Ho-va-ten{
    width: 40%;
}


form{
    background-color: greenyellow;
    border: 2px dashed gray;
    width: 300px;
    padding: 20px;
    
}

input{
    height: 30px;
    border: 2px gray;
    width: 300px;
    border-radius: 5px;
}

button{
    width: 120px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
