body{
    margin: 0px;
}
/* margin mặc địng của body là 8px */

.box{
    width: 200px;
    height: 200px;
    border: 10px solid green;
    background-color: yellow;
    margin: 10px 0px 10px 0px;
   

    /* padding 4 giá trị */
    /* padding: 1px 1px 1px 1px */
    /* giống như margin 4 giá trị */
    padding: 20px;
z-index: 0;
/* z index là độ ưu tiên cái nào đè lên cái nào */

}
#box2{

    position: relative ;
    top: 50px;
    left: 100px;
    z-index: -1;
}
/* z index sẽ dùng cho các khối cùng postion ví dụ relative */
#box3{
    z-index: 10;
}